* {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px; }

@media (max-width: 768px) {
  .container-fluid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav logo" "main main " "footer footer";
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    padding: 0px; }
    .container-fluid .nav {
      grid-area: nav; }
      .container-fluid .nav div ul li a {
        text-decoration: none;
        color: #fdca40; }
        .container-fluid .nav div ul li a:hover {
          color: black; }
    .container-fluid .logo {
      grid-area: logo;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px; }
      .container-fluid .logo .logo__img #logo-index {
        width: 100px;
        padding-top: 20px; }
    .container-fluid #main-index {
      padding-bottom: 200px;
      background-image: url("https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px; }
      .container-fluid #main-index #txt__parrafo {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0px 40px;
        padding: 0px 40px 40px 40px;
        font-size: 19px; }
    .container-fluid .main {
      grid-area: main; }
      .container-fluid .main .encabezado__img {
        width: 100%; }
      .container-fluid .main #encabezado__gotas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0px 40px;
        padding: 10px 40px 30px 40px; }
      .container-fluid .main .main__titulo .titulo {
        font-size: 25px;
        margin: 10px 0px 15px 15px;
        color: #fdca40; }
      .container-fluid .main div #txt__nosotros {
        font-size: 15px;
        margin: 0px 60px 40px 60px; }
      .container-fluid .main .lista {
        margin: 0px 0px 40px 50px; }
        .container-fluid .main .lista li {
          list-style-type: none;
          padding-right: 20px; }
          .container-fluid .main .lista li a {
            text-decoration: none;
            color: #fdca40; }
            .container-fluid .main .lista li a:hover {
              color: black; }
    .container-fluid .foo {
      grid-area: footer;
      display: flex;
      flex-direction: column; }
      .container-fluid .foo .foo__mapa {
        margin: 0px 20px 20px 20px; }
        .container-fluid .foo .foo__mapa .mapa__iframe {
          width: 100%;
          height: 120px; }
      .container-fluid .foo .foo__rrss {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .container-fluid .foo .foo__rrss a .rrss__fb {
          padding: 0px 5px 10px 0px;
          width: 50px;
          height: 50px; }
        .container-fluid .foo .foo__rrss a .rrss__ig {
          padding: 0px 0px 10px 5px;
          width: 50px;
          height: 50px; }
      .container-fluid .foo .foo__menu {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .container-fluid .foo .foo__menu .foo__item {
          font-size: 12px;
          list-style-type: none; }
          .container-fluid .foo .foo__menu .foo__item a {
            text-decoration: none;
            color: #fdca40; }
  #container-contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav logo" "main-c main-c " "footer footer";
    grid-auto-columns: 1fr;
    grid-auto-flow: row; }
    #container-contacto .logo {
      grid-area: logo;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px; }
      #container-contacto .logo .logo__img #logo-index {
        width: 100px;
        padding-top: 20px; }
    #container-contacto #main-contacto {
      grid-area: main-c;
      display: flex;
      flex-direction: column; }
      #container-contacto #main-contacto .main__titulo .titulo {
        font-size: 25px;
        margin: 10px 0px 15px 15px;
        color: #fdca40; }
      #container-contacto #main-contacto #formulario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 40px; }
        #container-contacto #main-contacto #formulario form {
          display: flex;
          flex-direction: column; }
          #container-contacto #main-contacto #formulario form .form__item {
            margin-bottom: 5px; }
    #container-contacto .foo {
      grid-area: footer;
      display: flex;
      flex-direction: column; }
      #container-contacto .foo .foo__mapa {
        margin: 0px 20px 20px 20px; }
        #container-contacto .foo .foo__mapa .mapa__iframe {
          width: 100%;
          height: 120px; }
      #container-contacto .foo .foo__rrss {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        #container-contacto .foo .foo__rrss a .rrss__fb {
          padding: 0px 5px 10px 0px;
          width: 50px;
          height: 50px; }
        #container-contacto .foo .foo__rrss a .rrss__ig {
          padding: 0px 0px 10px 5px;
          width: 50px;
          height: 50px; }
      #container-contacto .foo .foo__menu {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        #container-contacto .foo .foo__menu .foo__item {
          font-size: 12px;
          list-style-type: none; }
          #container-contacto .foo .foo__menu .foo__item a {
            text-decoration: none;
            color: #fdca40; } }

@media (min-width: 769px) {
  .container-fluid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: 60px 140px auto 200px;
    grid-template-areas: "nav nav nav" ". logo." "main main main " "footer footer footer";
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    padding: 0px; }
    .container-fluid .nav {
      grid-area: nav; }
      .container-fluid .nav div ul li a {
        text-decoration: none;
        color: #fdca40; }
        .container-fluid .nav div ul li a:hover {
          color: black; }
    .container-fluid .logo {
      grid-area: logo; }
      .container-fluid .logo .logo__img {
        display: flex;
        flex-direction: row;
        justify-content: center; }
    .container-fluid .main {
      grid-area: main; }
      .container-fluid .main .encabezado__img {
        width: 100%; }
      .container-fluid .main #txt__parrafo {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0px 100px;
        padding: 0px 100px 75px 100px; }
      .container-fluid .main .main__titulo {
        margin: 30px 0px 30px 90px; }
        .container-fluid .main .main__titulo .titulo {
          color: #fdca40; }
      .container-fluid .main #txt__nosotros {
        margin: 0px 150px 50px 150px; }
      .container-fluid .main .lista {
        margin: 0px 0px 40px 50px; }
        .container-fluid .main .lista li {
          list-style-type: none;
          padding-right: 20px; }
          .container-fluid .main .lista li a {
            text-decoration: none;
            color: #fdca40; }
            .container-fluid .main .lista li a:hover {
              color: black; }
    .container-fluid #main-index {
      padding-bottom: 200px;
      background-image: url("https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px; }
      .container-fluid #main-index #encabezado__gotas {
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0px 100px;
        padding: 100px 50px 30px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center; }
    .container-fluid .foo {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .container-fluid .foo .foo__mapa .mapa__iframe {
        width: 400px;
        height: 180px; }
      .container-fluid .foo .foo__rrss {
        display: flex;
        flex-direction: column;
        padding-left: 100px; }
        .container-fluid .foo .foo__rrss a .rrss__fb {
          padding-bottom: 10px; }
      .container-fluid .foo .foo__menu .foo__item {
        padding-bottom: 7px;
        list-style-type: none;
        padding-right: 20px; }
        .container-fluid .foo .foo__menu .foo__item a {
          text-decoration: none;
          color: #fdca40; }
          .container-fluid .foo .foo__menu .foo__item a:hover {
            color: black; }
  #container-contacto {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: 60px 140px auto 120px;
    grid-template-areas: "nav nav nav" ". logo." "main-c main-c main-c " "footer footer footer";
    grid-auto-columns: 1fr;
    grid-auto-flow: row; }
    #container-contacto .nav {
      grid-area: nav; }
      #container-contacto .nav div ul li a {
        text-decoration: none;
        color: #fdca40; }
        #container-contacto .nav div ul li a:hover {
          color: black; }
    #container-contacto .logo {
      grid-area: logo; }
      #container-contacto .logo .logo__img {
        display: flex;
        flex-direction: row;
        justify-content: center; }
    #container-contacto #main-contacto {
      grid-area: main-c;
      display: flex;
      flex-direction: column; }
      #container-contacto #main-contacto .main__titulo {
        margin: 30px 0px 30px 90px; }
        #container-contacto #main-contacto .main__titulo .titulo {
          color: #fdca40; }
      #container-contacto #main-contacto #formulario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px; }
        #container-contacto #main-contacto #formulario form {
          width: 50%; }
          #container-contacto #main-contacto #formulario form .form__item {
            width: 100%;
            margin-bottom: 5px; }
    #container-contacto .foo {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #container-contacto .foo .foo__mapa .mapa__iframe {
        width: 400px;
        height: 180px; }
      #container-contacto .foo .foo__rrss {
        display: flex;
        flex-direction: column;
        padding-left: 100px; }
        #container-contacto .foo .foo__rrss a .rrss__fb {
          padding-bottom: 10px; }
      #container-contacto .foo .foo__menu .foo__item {
        padding-bottom: 7px;
        list-style-type: none;
        padding-right: 20px; }
        #container-contacto .foo .foo__menu .foo__item a {
          text-decoration: none;
          color: #fdca40; }
          #container-contacto .foo .foo__menu .foo__item a:hover {
            color: black; } }
