.foo{	
	grid-area: footer; 
	display: flex;
    flex-direction: column;
    	.foo__mapa{
			margin: 0px 20px 20px 20px;
				.mapa__iframe{
					width: 100%;
				    height: 120px;
				}
		}
		.foo__rrss{
			display: flex;
			flex-direction: row;
			justify-content: center;
				a{
					padding: 10px;
					.rrss__fb{ 
						width: 40px;
						height: 40px;
					}
				}
				a{
					padding: 10px;
					.rrss__ig{
						width: 40px;
						height: 40px;
					}
				}
				a{
					padding: 10px;
					.rrss__wsp{
						width: 40px;
						height: 40px;
					}
				}
		}
		.foo__menu{
			margin: 10px;
			display: flex;
		    flex-direction: row;
		    justify-content: space-evenly;
		    	.foo__item{
					font-size: 12px;
					list-style-type: none;
						a {
							text-decoration: none;
							color: $colorPrincipal;
						}
				}
		}
}