#mobile__menu{ 
	grid-area: nav; 
}
#mobile__menu a {
  text-decoration: none;
  display: block;
  padding: 4px 15px;
  max-width: 200px;
  font-variant: small-caps;
}
#mobile__menu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  width: 48px;
  height: 48px;

}

#mobile__menu .fa-bars, #mobile__menu .fa-times {
  font-size: 48px;
  pointer-events: none;
  margin-top: 10px;
  margin-left: 10px;
}

#mobile__menu input[type="checkbox"] {
  opacity: 0;
}

#mobile__menu {
  color: white;
  position: relative;
  min-height: 48px;
}

#mobile__menu nav {
  display: none;
}

#mobile__menu nav ul {
  margin-top: 0px;
}

#mobile__menu input:checked ~ nav {
  display: block;
}

#mobile__menu input:checked ~ .fa-bars {
  display: none;
}

#mobile__menu input:not(:checked) ~ .fa-times {
  display: none;
}	