a {
	text-decoration: none;
	color: $colorPrincipal;
}
a:hover{
	color:  black;
}
#main-index {
	padding-bottom: 200px;
 background-image: url("https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:50px;
}
.titulo{
	color: $colorPrincipal;
}

.encabezado__img{
	width: 100%;
}

li {
	list-style-type: none;
	padding-right: 20px;
}

.lista {
	margin: 0px 0px 40px 50px;
}
form{ width: 50%; }
.form__item{ 
		width: 100%; 
		margin-bottom: 4px;
}